/* line 5, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "shishangjianti";
  src: url("/static/ttf/shishangjianti.ttf");
}
/* line 4, ../sass/result.scss */
html {
  width: 100%;
  height: 100%;
  font-family: "shishangjianti","SimHei", sans-serif;
}

/* line 10, ../sass/result.scss */
body {
  position: relative;
  min-width: 960px;
  height: 100%;
  font-size: 0;
  background: url("/static/images/background.jpg") center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 19, ../sass/result.scss */
.title {
  position: absolute;
  top: 23%;
  left: 0;
  width: 100%;
}

/* line 25, ../sass/result.scss */
h1 {
  width: 100%;
  font-size: 50px;
  color: #FDFBC9;
  text-align: center;
  -moz-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 1s ease-in-out 0s;
}

/* line 33, ../sass/result.scss */
.wrap {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
}

/* line 40, ../sass/result.scss */
.showList {
  -moz-transition: opacity 1s ease-in-out 0s;
  -o-transition: opacity 1s ease-in-out 0s;
  -webkit-transition: opacity 1s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: opacity 1s ease-in-out 0s;
  z-index: 1;
}
/* line 43, ../sass/result.scss */
.voteSumWrap {
  position: relative;
  bottom: 0;
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
}

/* line 50, ../sass/result.scss */
.relative-font {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 45px;
}

/* line 56, ../sass/result.scss */
.allScore {
  margin-bottom: 10px;
}
.voteNum{
  z-index:2;
}
/* line 59, ../sass/result.scss */
.data {
  position: relative;
  width: 120px;
  margin: 0 auto;
  height: 0;
  padding-top: 1%;
  background-color: #FFC811;
  -moz-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 1s ease-in-out 0s;
}

/* line 68, ../sass/result.scss */
.judgeScore {
  padding-top: 0;
  background-color: #ff8d00;
}

/* line 72, ../sass/result.scss */
.position-font {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 45px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 82, ../sass/result.scss */
.singerNumber {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 80px;
  color: #fff;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  background-color: #09c;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-shadow: 3px 3px 5px #000;
  -moz-transform: translate(-150px, 0);
  -ms-transform: translate(-150px, 0);
  -webkit-transform: translate(-150px, 0);
  transform: translate(-150px, 0);
}

/* line 95, ../sass/result.scss */
.singer {
  margin-top: 10px;
  height:45px;
}
